.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 48px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343A40;
    width: 90%;
    height: 60px;
    border-radius: 100px;
    padding: 0 32px;
}

.header-actions {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 24px;
    color: #fff;
}

h1 > span {
    color: #3AA0A3;
}

.btn {
    width: 80px;
    padding: 15px;
    background-color: transparent;
    color: #fff;
}

.btn:hover {
    border-radius: 20px;
    background-color: #3AA0A3;
}