@use './assets/fonts/fonts-config.scss';

$primary-bg: #212529;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  @include fonts-config.apply-font(fonts-config.$PPSupplyMono-Regular);
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-bg;
  display: flex;
  flex-direction: column;
}

